body {
    padding: 0px;
    margin: 0px;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(235, 235, 235);
}

.first {
    width: 100%;
    height: 50px;
    background-color: black;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
}

.ff {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 40px;
    border: none;
}

#sec1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgb(235, 235, 235);
    margin-bottom: 20px;
}

.secdi {
    width: 98%;
    height: 100%;
}

.aaa {
    margin-top: -25px;
}

.aaa p {
    font-size: 50px;
    font-weight: bold;
    margin-left: 60px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;

}


.box {
    flex: 1 1 calc(17% - 10px);
    /* Four boxes in a row (25%) minus gap */
    background-color: rgb(255, 255, 255);
    padding: 16px;
    text-align: center;
    height: 430px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

.box img {
    width: 320px;
    height: auto;
    margin-top: 10px;
}

.aws {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.aws1 {
    text-align: left;
}

.aws span {
    font-weight: 800;
    font-size: 30px;

}

.aws p {
    font-weight: 500;
}

#button1,
#button2,
#button3,
#button4,
#button5,
#button6,
#button7,
#button8 {
    width: 110px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-size: 25px;
    color: white;
    background-color: rgb(94, 94, 253);
    cursor: pointer;
}

#sec2 {
    width: 100%;
    height: auto;
    background: linear-gradient(to right, #a824dc, #660fd6);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sec2a {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.sec2aa {
    width: 90%;
}

.sec2a p {
    font-size: 35px;
}

.sec2a span {
    font-weight: 500;
    font-size: 60px;
}

.sec2b {
    width: 50%;
    height: 100%;

}

.sec2b img {
    height: 96%;
    width: 720px;
}

#buyAirPodbut {
    width: 180px;
    height: 60px;
    border-radius: 30px;
    font-size: 28px;
    border: none;
    cursor: pointer;
    background-color: white;
    margin-bottom: 30px;
}

#ero {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: white;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eroDiv {
    display: flex;
    width: 90%;
    height: 100%;
    flex-direction: column;
}

.foo p {
    font-size: 45px;
    font-weight: bold;
}

.dfkl {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dfkl img {
    width: 250px;
    height: auto;
}

.ri {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ri p {
    font-size: 35px;
    font-weight: bold;
}

#vko {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color: white;
    margin-bottom: 30px;
    flex-direction: column;
}

.vko1 {
    display: flex;
    flex-direction: row;
    width: 95%;
}

.dda {
    width: 40%;
}

.dda img {
    width: 400px;
}

.ddb {
    width: 60%;
    margin-top: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ddb span {
    font-size: 35px;
    font-weight: bold;
}

.ddb p {
    font-size: 25px;
    font-weight: 400;
}

.oop {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(235, 235, 235);
    color: rgb(99, 99, 99);
    font-size: 25px;
    text-align: center;
}

#kido {
    display: flex;
    width: 100%;
    height: auto;
    align-items: center;
    background-color: white;
    justify-content: center;
    flex-direction: column;
}

.kk2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 98%;
    margin-top: 40px;
}

.ddk {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid black;
    padding-bottom: 40px;
}

.ddk span {
    font-weight: bold;
    font-size: 45px;
}

.ddk p {
    font-size: 30px;
    margin: 0px;
    font-weight: 400;
}

.tto {
    width: 100%;
    margin-top: 30px;
}

.tto span {
    font-size: 35px;
    font-weight: bold;
}

.tto p {
    font-size: 15px;
}

.aak {
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: 16px;

}

@media (max-width: 1024px) {
    #sec1 {
        height: auto;
        margin-bottom: 30px;
    }

    .box {
        flex: 1 1 calc(33.33% - 10px);
        /* Three boxes in a row */
    }

    .ff {
        font-size: 10px;
    }

    .aaa p {
        font-size: 35px;
    }

    #sec2 {
        flex-direction: column-reverse;
    }

    .sec2a {
        width: 100%;
        height: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .sec2a p {
        font-size: 20px;
    }

    .sec2a span {
        font-size: 30px;
    }

    .sec2b {
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: center;

    }

    .sec2b img {
        height: auto;
        width: 300px;
    }

    #buyAirPodbut {
        width: 140px;
        height: 40px;
        border-radius: 20px;
        font-size: 20px;
    }



    .foo p {
        font-size: 30px;
        font-weight: bold;
    }

    .dfkl {
        flex-direction: row;
        justify-content: space-around;
    }

    .dfkl img {
        width: 180px;
        height: auto;
    }

    .ri p {
        font-size: 20px;
    }

    #ero {
        height: auto;
    }

    .vko1 {
        align-items: center;
        flex-direction: column;
    }

    .dda {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dda img {
        width: 300px;
    }

    .ddb {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ddb span {
        font-size: 40px;
    }

    .ddb p {
        font-size: 20px;
    }

    .oop {
        font-size: 10px;
    }

    .ddk {
        padding-bottom: 20px;
    }

    .ddk span {
        font-weight: bold;
        font-size: 35px;
    }

    .ddk p {
        font-size: 25px;
    }

    .tto span {
        font-size: 35px;
    }

    .tto p {
        font-size: 18px;
    }

    .aak {
        height: 50px;
        font-size: 9px;

    }


}


@media (max-width: 768px) {
    .box {
        flex: 1 1 calc(50% - 10px);
        /* Two boxes in a row */
    }

    .dfkl {
        flex-direction: column;
        justify-content: center;
    }

    .ddb span {
        font-size: 20px;
    }

    .ddb p {
        font-size: 10px;
    }
}


@media (max-width: 480px) {
    .box {
        flex: 1 1 100%;
        /* One box per row */
    }
}